{% extends "base-admin.html" %}
{% block title %}{{ band.group.name }}{% endblock %}
{% block content %}

<style type="text/css">
    .col-sm-6 {
        font-family: Courier;
        padding-top: 8px;
    }
</style>

<h2>Band Info for <a href="../bands/index?id={{ band.id }}">{{ band.group.name }}</a></h2>

<br/> <br/>
<form class="form-horizontal" role="form" method="post" action="band_info">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ band.id }}" />

    {% if band.panel.name %}
    <div class="row">
        <label class="col-sm-2 control-label">Panel Name:</label>
        <div class="col-sm-6">
            {{ band.panel.name }}
        </div>
    </div>
    {% endif %}

    {% if band.panel.length %}
    <div class="row">
        <label class="col-sm-2 control-label">Panel Length:</label>
        <div class="col-sm-6">
            {{ band.panel.length }}
        </div>
    </div>
    {% endif %}

    {% if band.panel.desc %}
    <div class="row">
        <label class="col-sm-2 control-label">Panel Description:</label>
        <div class="col-sm-6">
            {{ band.panel.desc|linebreaksbr }}
        </div>
    </div>
    {% endif %}

    {% if band.panel.tech_needs %}
    <div class="row">
        <label class="col-sm-2 control-label">Panel Tech Needs:</label>
        <div class="col-sm-6">
            {{ band.panel.panel_tech_needs_labels|join(" / ") }}
        </div>
    </div>
    {% endif %}

    {% if band.bio.desc %}
    <div class="row">
        <label class="col-sm-2 control-label">Bio:</label>
        <div class="col-sm-6">
            {{ band.bio.desc|linebreaksbr }}
        </div>
    </div>
    {% endif %}

    {% if band.bio.uploaded_pic %}
    <div class="row">
        <label class="col-sm-2 control-label">Bio Pic:</label>
        <div class="col-sm-6">
            <a href="{{ band.bio.pic_url }}">Click here to view the band's uploaded picture</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <label class="col-sm-2 control-label">W9:</label>
        <div class="col-sm-6">
            {% if not band.payment %}
            This band isn't being paid and thus doesn't need a W9 tax form.
            {% elif band.taxes.completed %}
            <a href="{{ band.taxes.w9_url }}">Click here to view the band's uploaded W9 tax form</a>
            {% else %}
            This band is supposed to be paid, but has not uploaded a W9 tax form yet.
            {% endif %}
        </div>
    </div>

    {% if band.bio.website %}
    <div class="row">
        <label class="col-sm-2 control-label">Website:</label>
        <div class="col-sm-6">
            {{ band.bio.website }}
        </div>
    </div>
    {% endif %}

    {% if band.bio.facebook %}
    <div class="row">
        <label class="col-sm-2 control-label">Facebook:</label>
        <div class="col-sm-6">
            {{ band.bio.facebook }}
        </div>
    </div>
    {% endif %}

    {% if band.bio.twitter %}
    <div class="row">
        <label class="col-sm-2 control-label">Twitter:</label>
        <div class="col-sm-6">
            {{ band.bio.twitter }}
        </div>
    </div>
    {% endif %}

    {% if band.bio.other_social_media %}
    <div class="row">
        <label class="col-sm-2 control-label">Other Social Media:</label>
        <div class="col-sm-6">
            {{ band.bio.other_social_media }}
        </div>
    </div>
    {% endif %}

    {% if band.info.poc_phone %}
    <div class="row">
        <label class="col-sm-2 control-label">PoC Cellphone:</label>
        <div class="col-sm-6">
            {{ band.info.poc_phone }}
        </div>
    </div>
    {% endif %}

    {% if band.info.performer_count %}
    <div class="row">
        <label class="col-sm-2 control-label">Performer Count:</label>
        <div class="col-sm-6">
            {{ band.info.performer_count }} ({{ band.estimated_performer_count }} is the number of Guest badges assigned)
        </div>
    </div>
    {% endif %}

    {% if band.info.bringing_vehicle %}
    <div class="row">
        <label class="col-sm-2 control-label">Vehicle Information:</label>
        <div class="col-sm-6">
            {{ band.info.vehicle_information }}
        </div>
    </div>
    {% endif %}

    {% if band.info.arrival_time %}
    <div class="row">
        <label class="col-sm-2 control-label">Arrival Time:</label>
        <div class="col-sm-6">
            {{ band.info.arrival_time }}
        </div>
    </div>
    {% endif %}

    {% if band.stage_plot.uploaded_file %}
    <div class="row">
        <label class="col-sm-2 control-label">Stage Plot:</label>
        <div class="col-sm-6">
            <a href="{{ band.stage_plot.url }}">Click here to view the band's stage plot</a>
        </div>
    </div>
    {% endif %}

    {% if band.merch.selling_merch %}
    <div class="row">
        <label class="col-sm-2 control-label">Merchandise:</label>
        <div class="col-sm-6">
            {{ band.merch.merch_label }}
        </div>
    </div>
    {% endif %}

    {% if band.charity.donating %}
    <div class="row">
        <label class="col-sm-2 control-label">Charity:</label>
        <div class="col-sm-6">
            {{ band.charity.charity_label }}
        </div>
    </div>
    {% endif %}

    {% if band.charity.desc %}
    <div class="row">
        <label class="col-sm-2 control-label">Donation:</label>
        <div class="col-sm-6">
            {{ band.charity.desc }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <label class="col-sm-2 control-label">Payment:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="payment" value="{{ band.payment }}" />
            <p class="help-text">
                The number of dollars we're paying the band.  If you leave this at zero, then no mention
                of payment will be made in their band agreement, otherwise the amount will be listed and
                the band will be told they will receive a check on-site after their performance.
            </p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Vehicles:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="vehicles" value="{{ band.vehicles }}" />
            <p class="help-text">
                The number of vehicles we're paying for parking (attached to the band's room).
            </p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Load-In length:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="estimated_loadin_minutes" value="{{ band.estimated_loadin_minutes }}" />
            <p class="help-text">
                The number of minutes we're telling the band they will have prior to performance for stage load-in and setup.
            </p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Performance length:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="estimated_performance_minutes" value="{{ band.estimated_performance_minutes }}" />
            <p class="help-text">
                The number of minutes we're telling the band they will have to perform.
            </p>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Event:</label>
        <div class="col-sm-6">
            <select name="event_id" class="form-control">
                <option value="">Pick an Event</option>
                {{ options(events,band.event_id) }}
            </select>
            <p class="help-text">
                If not set, the band agreement will say "date and time information coming soon"<br/>
                If this is set, the band agreement will reflect the start time of the event on the schedule.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Upload Band Info</button>
        </div>
    </div>
</form>

{% endblock %}
