{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Band Admin{% endblock %}
{% block content %}

<style>
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dataTables_length .dataTables_addon {
  margin-left: 25px;
}
</style>

<h1>Bands and Other Groups <a class="btn btn-primary" href="add_group">Add a Group</a></h1>
  <div id="show-opts" class="btn-group" style="margin-bottom: 10px" data-toggle="buttons"></div>

<div class="table-responsive">
  <table id="group-table" class="datatable table table-striped" data-page-length="-1">
    <thead>
        <tr>
            <th>Group</th>
            {% for item in c.CHECKLIST_ITEMS %}
              <th>{{ item.header }}</th>
            {% endfor %}
            <th>Group Type</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr id="{{ group.id }}" class="{{ group.band.group_type_label|lower if group.band else "" }} group-row">
            <td>
              <a href="../groups/form?id={{ group.id }}">{{ group.name }}</a>
              <span class="band_info">
                {% if group.band %}
                  (<a href="group_info?id={{ group.band.id }}" class="text-nowrap">{{ group.band.group_type_label }} Info</a>)
                {% endif %}</span>
            </td>
            {% for item in c.CHECKLIST_ITEMS %}
              {% set item_display = group.band.status(item.name) if group.band else '' %}
              {% set item_display = "Not Needed" if item.name == 'taxes' and item_display != 'N/A' and not group.band.payment else item_display %}

              {% if item.is_link %}
                <td>{{ item_display|url_to_link("Yes", "_blank") if '../' in item_display else item_display }}</td>
              {% elif item.name == 'badges' %}
                <td>{{ group.unregistered_badges ~ " Unclaimed" if group.unregistered_badges else "Yes" }}</td>
              {% else %}
                <td>{{ item_display }}</td>
              {% endif %}

            {% endfor %}
            <td class="band">
                {% if group.band %}
                    <button class="btn btn-sm btn-danger btn-unmark" data-group_id="{{ group.id }}" data-group_name="{{ group.name }}">Unmark as {{ group.band.group_type_label }}</button>
                {% else %}
                    <select class="form-control" class="group_type" name="group_type">
                      <option value="">Select a group type</option>
                      {{ options(c.GROUP_TYPE_OPTS) }}
                    </select>
                    <button class="btn btn-sm btn-primary btn-mark" data-group_id="{{ group.id }}" data-group_name="{{ group.name }}">Mark as Group Type</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<p><a href="everything">Export all band data as a CSV file</a></p>

<script>
    var markAsBand = function (groupId, groupName) {
        var $group = $('#' + groupId),
            $band = $group.find('.band'),
            $bandInfo = $group.find('.band_info'),
            $button = $band.find('.btn').prop('disabled', true).text('Marking...');
        var groupType = $band.find('select[name=group_type]').val(),
            groupTypeLabel = $band.find('select[name=group_type] option:selected').text();
        $.ajax({
            method: 'POST',
            url: 'mark_as_band',
            data: {
                group_id: groupId,
                group_type: groupType,
                csrf_token: csrf_token
            },
            success: function (response) {
                if (response.id) {
                    $band.empty().append(
                        '<button class="btn btn-sm btn-danger btn-unmark" data-group_id="' + groupId + '" data-group_name="' + groupName + '">Unmark as ' + groupTypeLabel + '</button>'
                    ).parents('tr').removeClass('nonband').addClass('band');
                    $bandInfo.empty().append(
                        '(<a href="band_info?id=' + response.id + '" class="text-nowrap">Group Info</a>)'
                    );
                }
                toastr.info(response.message);
            }
        });
    };

    var removeAsBand = function (groupId, groupName) {
        var $group = $('#' + groupId),
            $band = $group.find('.band'),
            $bandInfo = $group.find('.band_info'),
            $button = $band.find('.btn').prop('disabled', true).text('Unmarking...');
        $.ajax({
            method: 'POST',
            url: 'remove_as_band',
            data: {
                group_id: groupId,
                csrf_token: csrf_token
            },
            success: function (response) {
                if (response.id) {
                    $band.empty().append(
                        '<select class="form-control" class="group_type" name="group_type">'+
                        '<option value="">Select a group type</option>'+
                        `{{ options(c.GROUP_TYPE_OPTS) }}`+
                        '</select>'+
                        '<button class="btn btn-sm btn-primary btn-mark" data-group_id="' + groupId + '" data-group_name="' + groupName + '">Mark as Group Type</button>'
                    ).parents('tr').removeClass('band').addClass('nonband');
                    $bandInfo.empty();
                }
                toastr.info(response.message);
            }
        });
    };

    $(function() {
        $(window).load(function() {
            $('#show-opts').append(
                '<label class="btn btn-default dataTables_addon">' +
                '<input type="radio" name="group_type" autocomplete="off" id="show-all"> All groups' +
                '</label>');
            $('#show-all').on('change', function() {$('.group-row').show()});

            {% for key, type in c.GROUP_TYPE_OPTS %}
            $('#show-opts').append(
                '<label class="btn btn-default dataTables_addon">' +
                '<input type="radio" name="group_type" autocomplete="off" id="only-{{ type|lower }}s"> Only {{ type }}s' +
                '</label>');

            var $only{{ type }}s = $('#only-{{ type|lower }}s').on('change', function () {
                $('.group-row').hide();
                setVisible('.{{ type|lower }}', $only{{ type }}s.prop('checked', true))
            });
            {% endfor %}

            $('#{{ groups_filter }}').prop('checked', true).trigger('click');
        });

        $('#group-table').on('click', '.btn-mark', function(event) {
            event.preventDefault();
            var groupId = $(this).data('group_id'),
                groupName = $(this).data('group_name');
            markAsBand(groupId, groupName);
        });

        $('#group-table').on('click', '.btn-unmark', function(event) {
            event.preventDefault();
            var groupId = $(this).data('group_id'),
                groupName = $(this).data('group_name');
            bootbox.confirm({
                backdrop: true,
                title: 'Unmark "' + groupName + '" as Band/Guest',
                message: 'Are you sure you want to unmark "' + groupName + '" as a band or guest? This will permanently erase their bio info, stage layouts, agreements, etc...',
                buttons: {
                    confirm: { label: 'Unmark as Band/Guest', className: 'btn-danger' },
                    cancel: { label: 'Nevermind', className: 'btn-default' }
                },
                callback: function(result) {
                    if (result) {
                        removeAsBand(groupId, groupName);
                    }
                }
            });
        });
    });
</script>

{% endblock %}
