{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Band Admin{% endblock %}
{% block content %}

<style>
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dataTables_length .dataTables_addon {
  margin-left: 25px;
}
</style>

<h1>Bands and Other Groups <a class="btn btn-primary" href="add_band">Add a Band</a></h1>

<div class="table-responsive">
  <table class="datatable table table-striped" data-page-length="-1">
    <thead>
        <tr>
            <th>Group</th>
            <th>Band?</th>
            <th>Panel</th>
            <th>Bio Provided</th>
            <th>Agreement Completed</th>
            <th>W9 Uploaded</th>
            <th>Merch</th>
            <th>Charity</th>
            <th>Badges Claimed</th>
            <th>Stage Plans</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr id="{{ group.id }}" class="{{ group.band|yesno("band,nonband") }}">
            <td><a href="../groups/form?id={{ group.id }}">{{ group.name }}</a></td>
            <td class="band">
                {% if group.band %}
                    <a href="band_info?id={{ group.band.id }}"><button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-info-sign"></span> Band Info</button></a>
                    <button type="button" class="btn btn-danger" onClick="removeAsBand('{{ group.id }}')">
                        <span class="glyphicon glyphicon-remove"></span> Unmark as a Band</button>
                {% else %}
                    <button class="btn btn-primary" onClick="markAsBand('{{ group.id }}')">Mark as a Band</button>
                {% endif %}
            </td>
            <td>{% if group.band.panel %}{{ group.band.panel.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.bio %}{{ group.band.bio.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.info %}{{ group.band.info.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.taxes %}{% if group.band.taxes.completed or not group.band.payment %}Y{% endif %}{% endif %}</td>
            <td>{% if group.band.merch %}{{ group.band.merch.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.charity %}{{ group.band.charity.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.all_badges_claimed %}{{ group.band.all_badges_claimed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.stage_plot %}{{ group.band.stage_plot.completed|yesno("Y,") }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<p><a href="everything">Export all band data as a CSV file</a></p>

<script>
    var markAsBand = function (groupId) {
        var $band = $('#' + groupId).find('.band'),
            $button = $band.find('.btn').prop('disabled', true).text('Marking...');
        $.ajax({
            method: 'POST',
            url: 'mark_as_band',
            data: {
                group_id: groupId,
                csrf_token: csrf_token
            },
            success: function (response) {
                if (response.id) {
                    $band.empty().append(
                        '<a href="band_info?id=' + response.id + '"><button type="button" class="btn btn-info">' +
                        '<span class="glyphicon glyphicon-info-sign"></span> Band Info</button></a> ' +
                        '<button type="button" class="btn btn-danger" onClick="removeAsBand(\'' + groupId + '\')">' +
                        '<span class="glyphicon glyphicon-remove"></span> Unmark as a Band</button>'
                    ).parents('tr').removeClass('nonband').addClass('band');
                }
                toastr.info(response.message);
            }
        });
    };
    var removeAsBand = function (groupId) {
        var $band = $('#' + groupId).find('.band'),
            $button = $band.find('.btn').prop('disabled', true).text('Unmarking...');
        $.ajax({
            method: 'POST',
            url: 'remove_as_band',
            data: {
                group_id: groupId,
                csrf_token: csrf_token
            },
            success: function (response) {
                if (response.id) {
                    $band.empty().append(
                        '<button class="btn btn-primary" onClick="markAsBand(\'' + response.id + '\')">Mark as a Band</button>'
                    ).parents('tr').removeClass('band').addClass('nonband');
                }
                toastr.info(response.message);
            }
        });
    };
    $(document).ready(function() {
        $(window).load(function() {
            $('.dataTables_length').append(
                '<label class="dataTables_addon">' +
                '<input type="checkbox" id="only-bands" /> Show only bands' +
                '</label>');

            var $onlyBands = $('#only-bands').on('click', function () {
                setVisible('.nonband', !$onlyBands.prop('checked'))
            });
        });
    });
</script>

{% endblock %}
