{% extends "base-admin.html" %}
{% block title %}Band Admin{% endblock %}
{% block content %}

<style type="text/css">
    .datatable td, .datatable th {
        padding: 5px 20px 5px 20px;
    }
</style>

<h2>Bands and Other Groups</h2>

<div><input type="checkbox" id="only-bands" /> Show only bands</div>

<table class="datatable" data-page-length="-1">
    <thead>
        <tr>
            <th>Group</th>
            <th>Band?</th>
            <th>Panel</th>
            <th>Bio Provided</th>
            <th>Agreement Completed</th>
            <th>W9 Uploaded</th>
            <th>Merch</th>
            <th>Charity</th>
            <th>Badges Claimed</th>
            <th>Stage Plans</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr id="{{ group.id }}" class="{{ group.band|yesno("band,nonband") }}">
            <td><a href="../groups/form?id={{ group.id }}">{{ group.name }}</a></td>
            <td class="band">
                {% if group.band %}
                    <a href="band_info?id={{ group.band.id }}">Band Info</a>
                {% else %}
                    <button onClick="markAsBand('{{ group.id }}')">Mark as a Band</button>
                {% endif %}
            </td>
            <td>{% if group.band.panel %}{{ group.band.panel.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.bio %}{{ group.band.bio.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.info %}{{ group.band.info.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.taxes %}{% if group.band.taxes.completed or not group.band.payment %}Y{% endif %}{% endif %}</td>
            <td>{% if group.band.merch %}{{ group.band.merch.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.charity %}{{ group.band.charity.completed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.all_badges_claimed %}{{ group.band.all_badges_claimed|yesno("Y,") }}{% endif %}</td>
            <td>{% if group.band.stage_plot %}{{ group.band.stage_plot.completed|yesno("Y,") }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    var markAsBand = function (groupId) {
        var $band = $('#' + groupId).find('.band').text('Marking...');
        $.ajax({
            method: 'POST',
            url: 'mark_as_band',
            data: {
                group_id: groupId,
                csrf_token: csrf_token
            },
            success: function (response) {
                if (response.id) {
                    $band.empty().append(
                        $('<a>Band Info</a>').attr('href', 'band_info?id=' + response.id)
                    ).parents('tr').removeClass('nonband').addClass('band');
                }
                toastr.info(response.message);
            }
        });
    };
    $(function () {
        var $onlyBands = $('#only-bands').on('click', function () {
            setVisible('.nonband', !$onlyBands.prop('checked'))
        });
    });
</script>

{% endblock %}
