<tr>
  <td width="25">{{ macros.checklist_image(band.charity.status) }}</td>
  <td><b><a href="charity?band_id={{ band.id }}">Donating to our Charity Auction</a></b></td>
  <td><i>Deadline:</i> {{ band.deadline_from_model('charity')|datetime_local }}</td>
</tr>
<tr>
  <td colspan="3">
    {% if band.charity.status %}
      You have already indicated your charity preferences, but you may update them using the link above.
    {% else %}
      {{ c.EVENT_NAME }} runs a yearly charity auction, and we need you to tell us whether you can contribute any
      signed merchandise.
    {% endif %}
    <br/></br>
  </td>
</tr>
