<tr>
  <td width="25">{{ macros.checklist_image(band.info.status) }}</td>
  <td><b><a href="agreement?band_id={{ band.id }}">{{ band.group_type_label }} Agreement</a></b></td>
  <td><i>Deadline:</i> {{ band.deadline_from_model('info')|datetime_local }}</td>
</tr>
<tr>
  <td colspan="3">
    {% if band.info.status %}
      You have already provided all the information required as part of your agreement.  You may edit your
      information (e.g. if you've discovered that you'll be arriving on a different day or time) using the link above.
    {% else %}
      Use the link above to provide us with the necessary information we require about your appearance at {{ c.EVENT_NAME }}.
    {% endif %}
    <br/></br>
  </td>
</tr>
