<tr>
  <td width="25">{{ macros.checklist_image(band.panel.status) }}</td>
  <td><b><a href="panel?band_id={{ band.id }}">Want a Panel?</a></b></td>
  <td><i>Deadline:</i> {{ band.deadline_from_model('panel')|datetime_local }}</td>
</tr>
<tr>
  <td colspan="3">
    {% if not band.panel.status %}
      Please use the above link to let us know whether or not you are interested in also running a panel.
      We cannot accommodate all requests, but we definitely want to hear your ideas!
    {% elif band.panel.wants_panel %}
      You have already submitted your panel suggestion, but you may edit it using the link above.
    {% else %}
      You have already let us know that you're not interested in running a panel.  If you change your mind
      before the deadline, you can use the above link to share your panel idea.
    {% endif %}
    <br/></br>
  </td>
</tr>
