{% extends "bandbase.html" %}
{% block body %}

<h2>Band Agreement for {{ band.group.name }}</h2>

{{ c.EVENT_NAME_AND_YEAR }} will be held at the
<b>
    Gaylord National Hotel and Convention Center, 201 Waterfront St, National Harbor, MD 20745,
    {{ c.EPOCH|datetime:"%B %d" }} - {{ c.ESCHATON|datetime:"%d, %Y" }}.
</b>


<h3>Performance:</h3>

Performance time and date for {{ band.group.name }} to be determined, and will be provided at a later time before our final
updated agreement is completed.

<br/> <br/>

Performer will be provided with <b>{{ band.performance_minutes }} minutes</b>, to include line checks and performance,
with an additional <b>{{ band.estimated_loadin_minutes }} minutes</b> prior to performance for stage load-in and setup.

<br/> <br/>

These time-frames will be enforced, via an on-stage timer, to ensure that performances occur in a timely fashion.


<h3>Merch:</h3>

Space will be provided in our marketplace area for merchandise sales; either at a dedicated table or at our
<b>Rock Island</b> sales area, where {{ c.EVENT_NAME }} staff will sell performer-provided merchandise throughout the festival.
It is recommended, but not required, for performers to use our Rock Island service in this area, as merchandise can be sold
more consistently, and for many more hours.  On the night of the performance, table space will also be provided immediately
outside the concert hall for merchandise sales and signings.


{% if band.payment %}
    <h3>Payment:</h3>
    <b>${{ band.payment }}</b> by check on site after the show.
{% endif %}


<h3>Hotel:</h3>
One hotel room with 2 queen beds will be provided, with check in and out times provided as part of our final agreement.


<h3>Parking:</h3>
To be included with hotel room for <b>{{ band.vehicles }} vehicle{{ band.vehicles|pluralize }}</b>.


<h3>Badges:</h3>
Each performer will receive one badge, and one additional complementary badge for a guest.
Additional complimentary badges may be issued upon request.


<h3>Your Information:</h3>
<form method="post" action="agreement" class="form-horizontal" role="form">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_info.db_id }}" />
    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-2 control-label">Performer Count:</label>
        <div class="col-sm-6">
            <input class="form-control" type="number" name="performer_count" value="{{ band_info.performer_count|default:band.estimated_performer_count }}" />
            <p class="help-text">
                To ensure that we have assigned the correct number of badges to your band, please confirm the number
                of performers in your band.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">PoC Phone Number:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="poc_phone" value="{{ band_info.poc_phone|default:band.group.leader.cellphone }}" />
            <p class="help-text">
                Please enter the cellphone number of your preferred Point of Contact for any issues we may need to
                contact you about on-site.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Arrival Time:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="arrival_time" value="{{ band_info.arrival_time }}" />
            <p class="help-text">
                Please be as specific as possible about the day and time you plan on arriving at {{ c.EVENT_NAME }}.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Parking:</label>
        <div class="col-sm-6">
            {% checkbox band_info.bringing_vehicle %} We will be parking at MAGFest.
        </div>
    </div>

    <div id="vehicle-info" class="form-group" style="display:none">
        <label class="col-sm-2 control-label">Vehicle Information:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="vehicle_info" value="{{ band_info.vehicle_info }}" />
            <p class="help-text">
                If you're parking on-site, then please tell us the vehicle info (car, truck, attached trailer, tour bus, monster truck), so we can ensure parking availability.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Upload Band Info</button>
        </div>
    </div>
</form>

<script>
    var showOrHideVehicleInfo = function () {
        setVisible('#vehicle-info', $.field('bringing_vehicle').prop('checked'));
    };
    $(function () {
        showOrHideVehicleInfo();
        $.field('bringing_vehicle').on('click', showOrHideVehicleInfo);
    });
</script>

{% endblock %}
