{% extends "bandbase.html" %}
{% block body %}

<h3>Bio Info for {{ band.group.name }}</h3>

<p>
    Please provide a short bio for our website.  Everything else is optional, but if you provide a picture and any social media
    information, we'll include that as well.
</p>


<form method="post" action="bio" class="form-horizontal" role="form" enctype="multipart/form-data">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_bio.db_id }}" />
    {% csrf_token %}

    <ul>
    <li class="input-field">
        <label for="desc" class="control-label">
            Short Bio
        </label>
        <textarea id="desc" name="desc">{{ band_bio.desc }}</textarea>
    </li>

    <li class="input-field">
        <label for="website" class="control-label optional-field">
            Website
        </label>
        <input type="text" class="form-control" id="website" name="website" value="{{ band_bio.website }}" />
    </li>

    <li class="input-field">
        <label for="facebook" class="control-label optional-field">
            Facebook
        </label>
        <input type="text" class="form-control" id="facebook" name="facebook" value="{{ band_bio.facebook }}" />
    </li>

    <li class="input-field">
        <label for="twitter" class="control-label optional-field">
            Twitter
        </label>
        <input type="text" class="form-control" id="twitter" name="twitter" value="{{ band_bio.twitter }}" />
    </li>

    <li class="input-field">
        <label for="other_social_media" class="control-label optional-field">
            Other Social Media
        </label>
        <input type="text" class="form-control" id="other_social_media" name="other_social_media" value="{{ band_bio.other_social_media }}" />
    </li>

</ul>

    <div class="file-field input-field">
        <div class="btn blue darken-1 optional-field">
            <span>
                Picture
            </span>
            <input type="file" name="bio_pic" />
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>

    </div>

    <div class="input-field">
        <button type="submit" class="btn blue darken-1">
            Upload Bio Info
        </button>
    </div>
</form>

{% endblock %}
