{% extends "bandbase.html" %}
{% block body %}

<h3>Bio Info for {{ band.group.name }}</h3>

Please provide a short bio for our website.  Everything else is optional, but if you provide a picture and any social media
information, we'll include that as well.

<br/> <br/>

<form method="post" action="bio" class="form-horizontal" role="form" enctype="multipart/form-data">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_bio.db_id }}" />
    {{ csrf_token() }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Short Bio:</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="desc">{{ band_bio.desc }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Website:</label>
        <div class="col-sm-6">
            <input type=text" class="form-control" name="website" value="{{ band_bio.website }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Facebook:</label>
        <div class="col-sm-6">
            <input type=text" class="form-control" name="facebook" value="{{ band_bio.facebook }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Twitter:</label>
        <div class="col-sm-6">
            <input type=text" class="form-control" name="twitter" value="{{ band_bio.twitter }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Other Social Media:</label>
        <div class="col-sm-6">
            <input type=text" class="form-control" name="other_social_media" value="{{ band_bio.other_social_media }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Picture:</label>
        <div class="col-sm-6">
            {% if band.bio.uploaded_pic %}<a href="{{ band.bio.pic_url }}">View your current bio pic</a>
                or upload a new one: {% endif %}<input type="file" name="bio_pic" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Upload Bio Info</button>
        </div>
    </div>
</form>

{% endblock %}
