{% extends "bandbase.html" %}
{% block body %}

<style type="text/css">
    td img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: top;
    }
</style>

<h2>Band Checklist for {{ band.group.name }}</h2>

Here is a list of things which {{ c.EVENT_NAME }} needs from you before the event. <br/> <br/>

<table style="width:auto">

    <tr>
        <td width="25"> <img src="../static/images/{% if band.completed_panel %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a href="panel?id={{ band.id }}">Want a Panel?</a></b></td>
        <td><i>Deadline:</i> {{ c.PANEL_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            {% if not band.completed_panel %}
                Please use the above link to let us know whether or not you are interested in also running a panel.
                We cannot accommodate all requests, but we definitely want to hear your ideas!
            {% elif band.wants_panel %}
                You have already submitted your panel suggestion, but you may edit it using the link above.
            {% else %}
                You have already let us know that you're not interested in running a panel.  If you change your mind
                before the deadline, you can use the above link to share your panel idea.
            {% endif %}
            <br/></br>
        </td>
    </tr>

    <tr>
        <td width="25"> <img src="../static/images/{% if band.completed_bio %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a href="bio?id={{ band.id }}">Completed Band Bio</a></b></td>
        <td><i>Deadline:</i> {{ c.BAND_BIO_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            {% if band.completed_bio %}
                You have already provided us with your bio information, but you can use the link above to update it.
                {% if not band.uploaded_bio_pic %}
                    We encourage you to upload a bio pic for your band (which you have NOT yet done) so that we can
                    include it on our website.
                {% endif %}
            {% else %}
                Use the link above to provide us with the bio information we can put on our website.
            {% endif %}
            <br/></br>
        </td>
    </tr>

    <tr>
        <td width="25"> <img src="../static/images/{% if band.completed_agreement %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a href="agreement?id={{ band.id }}">Completed Band Agreement</a></b></td>
        <td><i>Deadline:</i> {{ c.BAND_AGREEMENT_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            {% if band.completed_agreement %}
                You have already provided all the information required as part of your badge agreement.  You may edit your
                information (e.g. if you've discovered that you'll be arriving on a different day or time) using the link above.
            {% else %}
                Use the link above to provide us with the necessary information we require about your band.
            {% endif %}
            <br/></br>
        </td>
    </tr>

    <tr>
        <td width="25"> <img src="../static/images/{% if band.completed_w9 %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a href="w9?id={{ band.id }}">Completed W9</a></b></td>
        <td><i>Deadline:</i> {{ c.BAND_W9_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            {% if band.completed_w9 %}
                You have already uploaded your W9 form, but if you need to make changes you can upload a new one
                using the link above.
            {% else %}
                Use the link above to upload a completed W9 form (a link will be provided to a blank form).
            {% endif %}
            <br/></br>
        </td>
    </tr>

    <tr>
        <td width="25"> <img src="../static/images/{% if band.all_badges_claimed %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a target="_blank" href="../preregistration/group_members?id={{ band.group.id }}">Assign Your Unclaimed Badges</a></b></td>
        <td><i>Deadline:</i> {{ c.BAND_BADGE_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            {% if band.all_badges_claimed %}
                You have already assigned all badges which have been assigned to your group, but you may change who your
                complementary badges are assigned to using the link above anytime until the start of {{ c.EVENT_NAME }}.
            {% else %}
                You currently have {{ band.group.floating|length }} unassigned complementary
                badge{{ band.group.floating|length|pluralize }} available to your group.  You may use the link above to
                assign these badges.
            {% endif %}
            <br/><br/>
            By default, each performer receives a badge for themselves, plus an additional badge for a guest.
            Additional complimentary badges may be issued upon request.
            <br/></br>
        </td>
    </tr>

    <tr>
        <td width="25"> <img src="../static/images/{% if band.uploaded_stage_plot %}checkbox_checked.png{% else %}checkbox_unchecked.png{% endif %}" /> </td>
        <td><b><a href="stage_plot?id={{ band.id }}">Stage Layouts</a></b></td>
        <td><i>Deadline:</i> {{ c.STAGE_AGREEMENT_DEADLINE|datetime }}</td>
    </tr>
    <tr>
        <td colspan="3">
            We require that you upload an exact description of your desired stage layout.  Failure to do so may result
            in you not receiving the setup you expect or want.
            <br/></br>
        </td>
    </tr>

</table>

{% endblock %}
