{% extends "bandbase.html" %}
{% block body %}

<h3>Selling Merch</h3>

<p>
    Space will be provided in our marketplace area for merchandise sales{% if not c.ROCK_ISLAND %}.{% else %};
    either at a dedicated table or at our “Rock Island” sales area, where {{ c.EVENT_NAME }} staff will sell performer-provided
    merchandise throughout the festival.{% endif %}
</p>

{% if c.ROCK_ISLAND %}
<p>
    It is recommended, but not required, for performers to use our Rock Island service in this area, as merchandise can
    be sold more consistently, and for many more hours.
</p>
{% endif %}

{% if c.REQUIRE_DEDICATED_BAND_TABLE_PRESENCE %}
<p>
    If you elect to{% if c.ROCK_ISLAND %} decline the use of Rock Island and{% endif %} sell your merchandise directly,
    we require that your table be staffed for at least <b>8 hours per day</b>.
</p>
{% endif %}

<p>
    On the night of the performance, table space will also be provided immediately outside the concert area for
    merchandise sales and signings.
</p>

<br/> <br/>

<form method="post" action="merch">
    {{ csrf_token() }}
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_merch.db_id }}" />
    <select name="selling_merch">
        <option value="">Tell us how you'd like to sell your merch</option>
        {{ options(c.BAND_MERCH_OPTS,band_merch.selling_merch) }}
    </select>
    <br/> <br/>
    {% if c.REQUIRE_DEDICATED_BAND_TABLE_PRESENCE %}
    <div id="coverage" style="display:none">
        <input type="checkbox" name="coverage" value="yes" />
        I commit to staffing our table in the marketplace at least <b>8 hours per day</b>.
        <br/> <br/>
        <input type="checkbox" name="warning" value="yes" />
        I acknowledge that failing to staff our table for <b>8 hours per day</b> will revoke the privilege of selling our merchandise from our own dedicated table in the future
        <br/> <br/>
    </div>
    {% endif %}
    <input id="submit" type="submit" value="Save Merch Preference" />
</form>

<script>
    var checkCoverage = function () {
        var dedicated = $.val('selling_merch') === {{ c.OWN_TABLE }};
        setVisible('#coverage', dedicated);

        {% if c.REQUIRE_DEDICATED_BAND_TABLE_PRESENCE %}
        var allChecked = $.field('coverage').prop('checked') && $.field('warning').prop('checked');
        $('#submit').prop('disabled', dedicated && !allChecked);
        {% endif %}
    };
    $(function () {
        checkCoverage();
        $.field('selling_merch').on('change', checkCoverage);
        $.field('warning').on('click', checkCoverage);
        $.field('coverage').on('click', checkCoverage);
    });
</script>

{% endblock %}
