{% extends "bandbase.html" %}
{% block body %}

<script>
    var showOrHidePanel = function () {
        setVisible('.panel-info', $.val('wants_panel') === {{ c.PANEL }});
    };
    $(function () {
        showOrHidePanel();
        $.field('wants_panel').on('click', showOrHidePanel);
    });
</script>

<h2>
    Want a Panel?
</h2>

<p>
Many of our musical guests are also interested in offering an panel.  While we cannot guarantee that we'll have room in
our schedule to accommodate all requests, we definitely want to hear your ideas.
</p>
<p>
    If you have an idea please fill out the form below:
</p>

<form method="post" action="panel" class="form-horizontal" role="form">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_panel.db_id }}" />
    {% csrf_token %}

<div class="input-field">
    <select name="wants_panel" disabled selected>
        <option value="">
            Do you want a panel?
        </option>
        {% options c.BAND_PANEL_OPTS band_panel.wants_panel %}
    </select>
    <label>
        Want a Panel?
    </label>
</div>

<ul>
    <li class="input-field panel-info">
        <label class="col-sm-4 control-label">
            Panel Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="{{ band_panel.name }}" />
        </div>
    </li>

    <li class="input-field panel-info">
        <label class="col-sm-4 control-label">
            Panel Length
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="length" value="{{ band_panel.length }}" />
            <p class="help-text">
                An hour is typical, including time for Q&A.
            </p>
        </div>
    </li>

    <li class="input-field panel-info">
        <label class="col-sm-4 control-label">
            Panel Description
        </label>
        <div class="col-sm-4">
            <textarea class="form-control" rows="3" name="desc">{{ band_panel.desc }}</textarea>
        </div>
    </li>

    <li class="input-field panel-info">
        <label class="col-sm-4 control-label">
            Tech Needs
        </label>
        <div class="col-sm-4">
            {% checkgroup band_panel.tech_needs %}
        </div>
    </li>

    <li class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
            <button class="btn btn-primary">
                Submit Panel Preferences
            </button>
        </div>
    </li>
</ul>
</form>

{% endblock %}
