{% extends "bandbase.html" %}
{% block body %}

<script>
    var showOrHidePanel = function () {
        setVisible('.panel-info', $.val('wants_panel') === {{ c.PANEL }});
    };
    $(function () {
        showOrHidePanel();
        $.field('wants_panel').on('click', showOrHidePanel);
    });
</script>

<h2>Want a Panel?</h2>

Many of our musical guests are also interested in offering an panel.  While we cannot guarantee that we'll have room in
our schedule to accommodate all requests, we definitely want to hear your ideas.  Please fill out the 

<br/> <br/>

<form method="post" action="panel" class="form-horizontal" role="form">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_panel.db_id }}" />
    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-2 control-label">Want a Panel?</label>
        <div class="col-sm-6" style="padding-top:7px">
            <select name="wants_panel">
                <option value="">Do you want a panel?</option>
                {{ options(c.BAND_PANEL_OPTS,band_panel.wants_panel) }}
            </select>
        </div>
    </div>

    <div class="form-group panel-info">
        <label class="col-sm-2 control-label">Panel Name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="{{ band_panel.name }}" />
        </div>
    </div>

    <div class="form-group panel-info">
        <label class="col-sm-2 control-label">Panel Length:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="length" value="{{ band_panel.length }}" />
            <p class="help-text">
                An hour is typical, including time for Q&A.
            </p>
        </div>
    </div>

    <div class="form-group panel-info">
        <label class="col-sm-2 control-label">Panel Description:</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="3" name="desc">{{ band_panel.desc }}</textarea>
        </div>
    </div>

    <div class="form-group panel-info">
        <label class="col-sm-2 control-label">Tech Needs:</label>
        <div class="col-sm-6">
            {% checkgroup band_panel.tech_needs %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button class="btn btn-primary">Submit Panel Preferences</button>
        </div>
    </div>
</form>

{% endblock %}
