{% extends "bandbase.html" %}
{% block body %}

<h2>Stage Layout for {{ band.group.name }}</h2>
{% if band.stage_plot.status %}
    <a href="{{ band.stage_plot.url }}">Click here to view the stage layouts you uploaded.</a>

    <br/><br/> Need to update something? {% endif %} Please upload your desired stage layouts.  This can be in the form of written directions, an image, PDF, or a zipfile
containing a collection of files explaining what you need.

<br/> <br/>

<form method="post" action="stage_plot" enctype="multipart/form-data">
    <input type="hidden" name="band_id" value="{{ band.id }}" />
    <input type="hidden" name="id" value="{{ band_stage_plot.db_id }}" />
    {{ csrf_token() }}
    <input type="file" name="plot" />
    <input type="submit" value="Upload Desired Stage Layouts" />
</form>

{% endblock %}
