{% extends "checklist/merch_deadline.html" %}
{% block deadline_text %}
  {% if guest.merch_status %}
    You have already indicated your merchandise preferences, but you may update them using the link above.
  {% else %}
    We need you to tell us whether you have any merchandise to sell{% if c.ROCK_ISLAND %},
    and whether you intend to participate in our "Rock Island" program where we sell your merchandise so that you do
    not need to staff your own table{% endif %}.
  {% endif %}
{% endblock %}

{% import 'guests_macros.html' as guests_macros with context %}

{% if c.ROCK_ISLAND %}
  {% block form_header %}
    <style type="text/css">

      .well-success {
        margin-bottom: 0;
        margin-top: 10px;
      }

      #inventory_container {
        margin-left: -15px;
        margin-right: -15px;
      }

      #rockisland {
        padding-top: 10px;
      }

      #rockisland > h3 {
        margin-bottom: 10px;
      }

      .well .inventory-add-item {
        margin-bottom: 10px;
      }

      .inventory-item-quantity .audio-track dd {
        display: none;
      }

      .inventory-item-quantity .audio-track dt {
        line-height: inherit;
      }

      p.help-block {
        margin-top: 0;
      }

      .form-group .form-group {
        margin-bottom: 0;
      }

      .first_name { margin-bottom: 15px; }
      @media(min-width: 768px) {
        .first_name { margin-bottom: 0; }
      }

    </style>

    <iframe id="upload_frame" name="upload_frame" style="display:none"></iframe>

    {%- macro inventory_modal(type, item=None) -%}
      {% set type = type|int %}
      {%- set label = c.MERCH_TYPES[type] -%}
      <div
          id="inventory_item_{{ item.id or type }}"
          class="modal fade inventory-item"
          tabindex="-1"
          role="dialog"
          aria-labelledby="inventory_item_title_{{ item.id or type }}"
          style="display:none">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="inventory_item_title_{{ item.id or type }}">{{ label }}</h4>
            </div>
            <form method="post" action="save_inventory_item" target="upload_frame" class="form-horizontal" role="form" enctype="multipart/form-data">
              <div class="modal-body">
                {{ csrf_token() }}
                <input type="hidden" name="guest_id" value="{{ guest.id }}" />
                {{ guests_macros.inventory_form(type, item=item) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save_inventory">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {%- endmacro -%}

    <div id="inventory_modals">
      {% for type, label in c.MERCH_TYPES_OPTS -%}
        {{ inventory_modal(type) }}
      {%- endfor %}
      {% for item in guest_merch.inventory.values() -%}
        {{ inventory_modal(item.type, item=item) }}
      {%- endfor %}
    </div>
  {% endblock %}
{% endif %}

{% block form_desc %}
  <p>
    Space will be provided in our marketplace area for merchandise sales{% if not c.ROCK_ISLAND %}.{% else %};
    either at a dedicated table or at our “Rock Island” sales area, where {{ c.EVENT_NAME }} staff will sell performer-provided
    merchandise throughout the festival.{% endif %}
  </p>

  {% if c.ROCK_ISLAND %}
    <p>
      It is recommended, but not required, for performers to use our Rock Island service in this area, as merchandise can
      be sold more consistently, and for many more hours.
    </p>
    <p>
      <a href="../static/RockIsland.pdf">
        Click here for more info about our Rock Island service!
      </a>
    </p>
  {% endif %}

  {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
    <p>
      If you elect to{% if c.ROCK_ISLAND %} decline the use of Rock Island and{% endif %} sell your merchandise directly,
      we require that your table be staffed for at least <b>8 hours per day</b>.
    </p>
  {% endif %}

    <p>
      On the night of the performance, table space will also be provided immediately outside the concert area for
      merchandise sales and signings.
    </p>
{% endblock %}

{% block form_extra %}
  {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
    <div id="coverage" style="display:none">
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="coverage" value="yes" />
            I commit to staffing our table in the marketplace at least <b>8 hours per day</b>.
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="warning" value="yes" />
            I acknowledge that failing to staff our table for <b>8 hours per day</b> will revoke
            the privilege of selling our merchandise from our own dedicated table in the future.
          </label>
        </div>
      </div>
    </div>
  {% endif %}

  {% if c.ROCK_ISLAND %}
    <div id="rockisland" style="display:none">
      <h3>
        Your Inventory
        <div class="inventory-add-item text-success">
          <select class="form-control add_inventory">
            <option value="">Select an item to add it...</option>
            {{ options(c.MERCH_TYPES_OPTS) }}
          </select>
        </div>
        <div class="clearfix"></div>
      </h3>
      <div id="inventory_container"{% if not guest_merch.inventory %} style="display:none"{% endif %}>
        {{ guests_macros.inventory_table(show_controls=True) }}
      </div>
      <div class="well well-sm well-success col-sm-6 col-sm-offset-3 text-success text-center">
        <h4>Add some merch to your inventory!</h4>
        <div class="inventory-add-item text-success">
          <span class="glyphicon glyphicon-plus-sign"></span>
          <select class="form-control add_inventory">
            <option value="">Select an item to add it...</option>
            {{ options(c.MERCH_TYPES_OPTS) }}
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
      <h3>Merch Point of Contact</h3>
      {{ guests_macros.name_form_group(guest_merch, first_name_attr='poc_first_name', last_name_attr='poc_last_name', is_required=True) }}
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone Number</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="poc_phone" value="{{ guest_merch.poc_phone }}" placeholder="Phone Number" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="poc_email" value="{{ guest_merch.poc_email }}" placeholder="Email" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Mailing Address</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="poc_mailing_address" value="{{ guest_merch.poc_mailing_address }}" placeholder="Mailing Address" required/>
        </div>
      </div>
      <h3>Trusted Merch Handlers</h3>
      <p class="help-block">
        Please include the first and last names of trusted people authorized to drop-off/pick-up your merch.
      </p>
      <div class="clearfix"></div>
      {% for index in range(0, 6) -%}
        {{ guests_macros.name_form_group(guest_merch.handlers[index], label='Merch Handler', prefix='handlers_', suffix='_' ~ index) }}
      {%- endfor %}
      <h3>Extra Info</h3>
      <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Bringing any boxes?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="bringing_boxes" rows="4" placeholder="How many boxes and how big are they?">{{ guest_merch.bringing_boxes }}</textarea>
        </div>
        <div class="clearfix"></div>
        <p class="help-block col-sm-offset-3 col-sm-9">
          How many boxes are you bringing and how big are they? We would like to plan accordingly.
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Anything else?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="extra_info" rows="4" placeholder="Anything else we might need to know?">{{ guest_merch.extra_info }}</textarea>
        </div>
      </div>
    </div>
  {% endif %}

  <script>
      var checkCoverage = function() {
          var isDedicated = $.val('selling_merch') === {{ c.OWN_TABLE }};
          var isRockIsland = $.val('selling_merch') === {{ c.ROCK_ISLAND }};

          setVisible('#coverage', isDedicated);
          setVisible('#rockisland', isRockIsland);

          {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
              var allChecked = $.field('coverage').prop('checked') && $.field('warning').prop('checked');
              $('#submit').prop('disabled', isDedicated && !allChecked);
          {% endif %}
      };

      var onChooseInventoryType = function() {
        var $addInventory = $(this),
            $inventoryItem = $('#inventory_item_' + $addInventory.val());

        $inventoryItem.find('.one_size').each(function() { onOneSizeChange.call(this); });
        $inventoryItem.modal();
        $addInventory.val('');
      };

      var onEditInventory = function(e) {
        e.preventDefault();
        var $inventoryRow = $(this).closest('.inventory-row'),
            itemId = $inventoryRow.data('item_id'),
            $inventoryItem = $('#inventory_item_' + itemId);

        $inventoryItem.find('.one_size').each(function() { onOneSizeChange.call(this); });
        $inventoryItem.modal();
      };

      var onRemoveInventory = function(e) {
        e.preventDefault();
        var $inventoryRow = $(this).closest('.inventory-row'),
            dataTable = $inventoryRow.closest('.inventory-table').DataTable(),
            $title = $inventoryRow.find('td.inventory-item-type'),
            titleText = $title.text().trim() || 'item',
            itemId = $inventoryRow.data('item_id');
        if (itemId) {
          bootbox.confirm({
              backdrop: true,
              message: 'Remove this ' + titleText + ' from your inventory?',
              buttons: {
                  confirm: { label: 'Remove', className: 'btn-danger' },
                  cancel: { label: 'Nevermind', className: 'btn-default' }
              },
              callback: function (result) {
                  if (result) {
                      $.ajax({
                          method: 'POST',
                          url: 'remove_inventory_item',
                          data: {
                              guest_id: '{{ guest.id }}',
                              item_id: itemId,
                              csrf_token: csrf_token
                          },
                          success: function(response, status) {
                            if (response['error']) {
                              toastr.error('There was an error removing the item: ' + response['error']);
                            } else {
                              dataTable.row($inventoryRow).remove();
                              dataTable.draw();
                              if (!dataTable.rows().count()) {
                                  $('#inventory_container').hide();
                              }
                              toastr.success('', titleText + ' successfully removed!', {timeOut: 2000});
                            }
                          },
                          error: function(response, status) {
                            toastr.error('There was an error removing the item: ' + response);
                          }
                      });
                  }
              }
          });
        }
      };

      var onRemoveFile = function(e) {
        e.preventDefault();
        var $inventoryFile = $(this).closest('.inventory-file'),
            $downloadFilename = $inventoryFile.find('.download_filename'),
            $filename = $inventoryFile.find('.filename'),
            $contentType = $inventoryFile.find('.content_type'),
            $currentFile = $inventoryFile.find('.current-file');
        bootbox.confirm({
            backdrop: true,
            message: 'Remove ' + $downloadFilename.val() + ' from your inventory?',
            buttons: {
                confirm: { label: 'Remove', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-default' }
            },
            callback: function (result) {
                if (result) {
                    $currentFile.remove();
                    $downloadFilename.val('');
                    $filename.val('');
                    $contentType.val('');
                }
            }
        });
      };

      var onOneSizeChange = function() {
        var $varietyColumn = $(this).closest('.col-variety'),
            $oneSizeQuantity = $varietyColumn.find('.one_size_quantity'),
            $sizesPanel = $varietyColumn.find('.panel-sizes'),
            isOneSize = $(this).prop('checked');

        $oneSizeQuantity.toggle(isOneSize);
        $oneSizeQuantity.prop('disabled', !isOneSize);
        $sizesPanel.find('input').prop('disabled', isOneSize);
        $sizesPanel.toggleClass('disabled', isOneSize);
      };

      $(function () {
          checkCoverage();
          $.field('selling_merch').on('change', checkCoverage);
          $.field('warning').on('click', checkCoverage);
          $.field('coverage').on('click', checkCoverage);
          $('.add_inventory').on('change', onChooseInventoryType);

          var $inventoryContainer = $('#inventory_container'),
              $inventoryModals = $('#inventory_modals');

          $inventoryContainer.on('click', '.remove_inventory', onRemoveInventory);
          $inventoryContainer.on('click', '.edit_inventory', onEditInventory);

          $inventoryModals.on('click', '.remove_file', onRemoveFile);
          $inventoryModals.on('change', '.one_size', onOneSizeChange);
          $inventoryModals.find('.one_size').each(function() { onOneSizeChange.call(this); });

          $inventoryModals.find('form').submit(function(e) {
            $(this).find('.save').prop('disabled', true);
            return true;
          });

          $('#upload_frame').load(function() {
            try {
              var responseText = $(this.contentDocument.body).text().trim();
              this.contentDocument.body.innerHTML = '';
              if (responseText) {
                try {
                  var response = $.parseJSON(responseText);
                  if (!response['error']) {
                    location.href = '?guest_id={{ guest.id }}';
                  } else {
                    toastr.error('', response['error'], {timeOut: 5000});
                  }
                } catch(ex) {
                  toastr.error('', 'There was an error saving the form: ' + responseText.substring(0, 1024), {timeOut: 5000});
                }
              }
            } finally {
              $inventoryModals.find('.save').prop('disabled', false);
            }
          });
      });
  </script>
{% endblock %}
