{% extends "checklist/merch_deadline.html" %}
{% block deadline_text %}
  {% if guest.merch_status %}
    You have already indicated your merchandise preferences, but you may update them using the link above.
  {% else %}
    We need you to tell us whether you have any merchandise to sell{% if c.ROCK_ISLAND %},
    and whether you intend to participate in our "Rock Island" program where we sell your merchandise so that you do
    not need to staff your own table{% endif %}.
  {% endif %}
{% endblock %}

{% import 'guests_macros.html' as guests_macros with context %}

{% if c.ROCK_ISLAND %}
  {% block form_header %}
    {% for type, label in c.MERCH_TYPES_OPTS -%}
      <div id="template_inventory_item_{{ type }}" style="display:none">
        {{ guests_macros.inventory_form(type) }}
      </div>
    {%- endfor %}
    <div id="inventory_storage" style="display:none"></div>
  {% endblock %}
{% endif %}

{% block form_desc %}
  <p>
    Space will be provided in our marketplace area for merchandise sales{% if not c.ROCK_ISLAND %}.{% else %};
    either at a dedicated table or at our “Rock Island” sales area, where {{ c.EVENT_NAME }} staff will sell performer-provided
    merchandise throughout the festival.{% endif %}
  </p>

  {% if c.ROCK_ISLAND %}
    <p>
      It is recommended, but not required, for performers to use our Rock Island service in this area, as merchandise can
      be sold more consistently, and for many more hours.
    </p>
    <p>
      <a href="../static/RockIsland.pdf">
        Click here for more info about our Rock Island service!
      </a>
    </p>
  {% endif %}

  {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
    <p>
      If you elect to{% if c.ROCK_ISLAND %} decline the use of Rock Island and{% endif %} sell your merchandise directly,
      we require that your table be staffed for at least <b>8 hours per day</b>.
    </p>
  {% endif %}

    <p>
      On the night of the performance, table space will also be provided immediately outside the concert area for
      merchandise sales and signings.
    </p>
{% endblock %}

{% block form_extra %}
  {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
    <div id="coverage" style="display:none">
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="coverage" value="yes" />
            I commit to staffing our table in the marketplace at least <b>8 hours per day</b>.
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="warning" value="yes" />
            I acknowledge that failing to staff our table for <b>8 hours per day</b> will revoke
            the privilege of selling our merchandise from our own dedicated table in the future.
          </label>
        </div>
      </div>
    </div>
  {% endif %}

  {% if c.ROCK_ISLAND %}
    <div id="rockisland" style="display:none">
      <h3>Your Inventory</h3>
      <div id="inventory_container">
        {% for item in guest_merch.inventory -%}
          {{ guests_macros.inventory_form(item.type, item=item, suffix='_' ~ loop.index0) }}
        {%- endfor %}
      </div>
      <div class="well well-sm well-info inventory-add-item col-sm-6 col-sm-offset-3 text-info text-center">
        <h4>Add some merch to your inventory!</h4>
        <div>
          <span class="glyphicon glyphicon-ok-circle"></span>
          <select id="add_inventory" class="form-control">
            <option value="">Select an item to add it...</option>
            {{ options(c.MERCH_TYPES_OPTS) }}
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="text-info text-center">
        <small><i>You can always come back later to update your inventory!</i></small>
      </div>
      <h3>Extra Info</h3>
      <div class="form-group">
        <label class="col-sm-3 control-label">Bringing any boxes?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="bringing_boxes" rows="4" placeholder="How many boxes and how big are they?">{{ guest_merch.bringing_boxes }}</textarea>
        </div>
        <div class="clearfix"></div>
        <p class="help-block col-sm-offset-3 col-sm-9">
          How many boxes are you bringing and how big are they? We would like to plan accordingly.
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Anything else?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="extra_info" rows="4" placeholder="Anything else we might need to know?">{{ guest_merch.extra_info }}</textarea>
        </div>
      </div>
    </div>
  {% endif %}

  <script>
      var checkCoverage = function() {
          var isDedicated = $.val('selling_merch') === {{ c.OWN_TABLE }};
          var isRockIsland = $.val('selling_merch') === {{ c.ROCK_ISLAND }};

          if (isRockIsland) {
              $('#inventory_storage > *').appendTo($('#inventory_container'));
          } else {
              $('#inventory_container > *').appendTo($('#inventory_storage'));
          }

          setVisible('#coverage', isDedicated);
          setVisible('#rockisland', isRockIsland);

          {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
              var allChecked = $.field('coverage').prop('checked') && $.field('warning').prop('checked');
              $('#submit').prop('disabled', isDedicated && !allChecked);
          {% endif %}
      };

      var packInventoryInputNames = function() {
        var $inventoryItems = $('#inventory_container .inventory-item'),
            inventoryCount = $inventoryItems.size(),
            nameRegex = /^([\w_\-]+?_)(\d+)$/;
        $inventoryItems.each(function(i, item) {
            var $inputs = $(item).find('input');
            $inputs.each(function(_, input) {
                var name = $(input).attr('name'),
                    match = name ? name.match(nameRegex) : [];
                if (match && match.length == 3) {
                  $(input).attr('name', match[1] + i);
                }
            });
        });
      };

      var onChooseInventoryType = function() {
        var $addInventory = $('#add_inventory'),
            inventoryTypeValue = $addInventory.val(),
            $inventoryItem = $('#template_inventory_item_' + inventoryTypeValue + ' > .inventory-item').clone(),
            $inventoryInputs = $inventoryItem.find('input'),
            $inventoryContainer = $('#inventory_container'),
            $inventoryItems = $inventoryContainer.children('.inventory-item'),
            suffix = '_' + $inventoryItems.size();

        $addInventory.val('');
        $inventoryInputs.attr('name', function() {
          var name = $(this).attr('name');
          return name ? name + suffix : undefined;
        });
        $inventoryItem.find('.one_size').each(function() { onOneSizeChange.call(this); });
        $inventoryItem.appendTo($inventoryContainer);

        var offset = $inventoryItem.offset();
        $('html, body').animate({
            scrollTop: offset.top - 20,
            scrollLeft: offset.left
        });
      };

      var onRemoveInventory = function(e) {
        e.preventDefault();
        var $inventoryItem = $(this).parents('.inventory-item'),
            $title = $inventoryItem.find('> .panel-body > h4'),
            $titleText = $title.text() || 'item';
        bootbox.confirm({
            backdrop: true,
            message: 'Remove this ' + $titleText + ' from your inventory?',
            buttons: {
                confirm: { label: 'Remove', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-default' }
            },
            callback: function (result) {
                if (result) {
                    $inventoryItem.remove();
                    packInventoryInputNames();
                }
            }
        });
      };

      var onRemoveFile = function(e) {
        e.preventDefault();
        var $inventoryFile = $(this).parents('.inventory-file'),
            $downloadFilename = $inventoryFile.find('.download_filename'),
            $filename = $inventoryFile.find('.filename'),
            $contentType = $inventoryFile.find('.content_type'),
            $currentFile = $inventoryFile.find('.current-file');
        bootbox.confirm({
            backdrop: true,
            message: 'Remove ' + $downloadFilename.val() + ' from your inventory?',
            buttons: {
                confirm: { label: 'Remove', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-default' }
            },
            callback: function (result) {
                if (result) {
                    $currentFile.remove();
                    $downloadFilename.val('');
                    $filename.val('');
                    $contentType.val('');
                }
            }
        });
      };

      var onOneSizeChange = function() {
        var $varietyColumn = $(this).parents('.col-variety'),
            $oneSizeQuantity = $varietyColumn.find('.one_size_quantity'),
            $sizePanel = $varietyColumn.find('.panel-sizes'),
            isOneSize = $(this).prop('checked');

        $oneSizeQuantity.toggle(isOneSize);
        $oneSizeQuantity.prop('disabled', !isOneSize);
        $sizePanel.find('input').prop('disabled', isOneSize);
        $sizePanel.toggleClass('disabled', isOneSize);
      };

      $(function () {
          checkCoverage();
          $.field('selling_merch').on('change', checkCoverage);
          $.field('warning').on('click', checkCoverage);
          $.field('coverage').on('click', checkCoverage);
          $('#add_inventory').on('change', onChooseInventoryType);
          var $inventoryContainer = $('#inventory_container');
          $inventoryContainer.on('click', '.remove_inventory', onRemoveInventory);
          $inventoryContainer.on('click', '.remove_file', onRemoveFile);
          $inventoryContainer.on('change', '.one_size', onOneSizeChange);
          $inventoryContainer.find('.one_size').each(function() { onOneSizeChange.call(this); });
      });
  </script>
{% endblock %}
