<tr>
  <td width="25">{{ macros.checklist_image(guest.bio.status) }}</td>
  <td><b><a href="bio?guest_id={{ guest.id }}">Announcement Information</a></b></td>
  <td><i>Deadline:</i> {{ guest.deadline_from_model('bio')|datetime_local }}</td>
</tr>
<tr>
  <td colspan="3">
    {% if guest.bio.status %}
      You have already provided us with your bio information, but you can use the link above to update it.
      {% if not guest.bio.uploaded_pic %}
        We encourage you to upload a bio pic (which you have NOT yet done) so that we can
        include it on our website.
      {% endif %}
    {% else %}
      Use the link above to provide us with the bio information we can put on our website.
    {% endif %}
    <br/></br>
  </td>
</tr>
