{% if snippet %}
  <tr>
    <td width="25">{{ macros.checklist_image(guest.merch_status) }}</td>
    <td><b><a href="merch?guest_id={{ guest.id }}">
      {% block deadline_headline %}Selling Merchandise{% endblock %}</a></b></td>
    <td><i>Deadline:</i> {{ guest.deadline_from_model('merch')|datetime_local }}</td>
  </tr>
  <tr>
    <td colspan="3">
      {% block deadline_text %}
        {% if guest.merch_status %}
          You have already indicated your merchandise preferences, but you may update them using the link above.
        {% else %}
          Let us know if you want a table space in our marketplace area for merchandise sales!
        {% endif %}
      {% endblock %}
      <br/></br>
    </td>
  </tr>
{% else %}
  <h3>{% block form_headline %}Selling Merch{% endblock %}</h3>

  {% block form_desc %}
    Space will be provided in our marketplace area for merchandise sales.
  {% endblock %}

  <br/> <br/>

  <form method="post" action="merch" class="form-horizontal">
    {{ csrf_token() }}
    <input type="hidden" name="guest_id" value="{{ guest.id }}" />
    <input type="hidden" name="id" value="{{ guest_merch.db_id }}" />

    <div class="form-group">
      <label class="col-sm-3 control-label">Merch Options</label>
      <div class="col-sm-6">
        <select name="selling_merch" id="selling_merch" class="form-control">
          <option value="">Tell us how you'd like to sell your merch</option>
          {{ options(c.GUEST_MERCH_OPTS,guest_merch.selling_merch) }}
        </select>
      </div>
    </div>
    {% block form_extra %}
      {% if c.ROCK_ISLAND %}
        {# c.ROCK_ISLAND is only for bands, but it's easier to remove it from the template than to mess with the
         actual GUEST_MERCH options. If using form_extra here for other groups, call {{ super() }} #}
        <script type="text/javascript">
            $(function () {
                $("#selling_merch option[value='{{ c.ROCK_ISLAND }}']").remove();
            });
        </script>
      {% endif %}
    {% endblock %}
    <input id="submit" type="submit" class="btn btn-primary" value="Save Merch Preference" />
  </form>
{% endif %}