{% extends "preregistration/preregbase.html" %}

{% block title %}
    Band Information
{% endblock title %}

{% block additional_styles %}
    <link rel="stylesheet" href="../static/theme/stockstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

{% endblock additional_styles %}

{% block header %}
    <header role="banner">
        <h1>
            <img src="../static/theme/magstock.png" alt="MAGStock">
        </h1>
    </header>
{% endblock header %}

{% block content %}

<div class="panel panel-default">
    {% block body %}{% endblock body %}
</div><!-- /panel -->

{% endblock content %}
