{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Rock Island Inventory{% endblock %}
{% include "guests_common.html" %}

{% block content %}
  <style type="text/css">
    h2 {
      margin-bottom: 0;
    }

    h1 span, h1 small, h2 span, h2 small {
      display: inline-block;
    }

    h1 span, h2 span {
      margin: 0 10px 10px 0;
    }

    h1 small, h2 small {
      float: right;
    }
  </style>

  {% if guest_groups|length > 1 %}
    <h1>
      <span>Rock Island</span>
      <small><a href="../guest_admin/rock_island_csv">Download CSV for all groups</a></small>
      <div class="clearfix"></div>
    </h1>
    {% for guest in guest_groups -%}
      {%- set guest_merch = guest.merch -%}
      {%- import 'guests_macros.html' as guests_macros with context -%}
      <div class="panel panel-default inventory-table-panel">
        <div class="panel-body">
          <h2>
            <span>Inventory for <a href="../guest_admin/group_info?id={{ guest.id }}">{{ guest.group.name }}</a></span>
            <small><a href="{{ guest_merch.rock_island_csv_url }}">Download CSV for {{ guest.group.name }}</a></small>
            <div class="clearfix"></div>
          </h2>
        </div>
        {{ guests_macros.inventory_table_with_err('panel-body') }}
      </div>
    {%- endfor %}
  {% else %}
    {%- set guest = guest_groups|first -%}
    {%- set guest_merch = guest.merch -%}
    {%- import 'guests_macros.html' as guests_macros with context -%}
    <h1>
      <span>Rock Island Inventory for <a href="../guest_admin/group_info?id={{ guest.id }}">{{ guest.group.name }}</a></span>
      <small><a href="{{ guest_merch.rock_island_csv_url }}">Download CSV for {{ guest.group.name }}</a></small>
      <div class="clearfix"></div>
    </h1>
    {{ guests_macros.inventory_table_with_err() }}
  {% endif %}
{% endblock %}
