<style type="text/css">

#rockisland > h3 {
  margin-bottom: 20px;
}

.inventory-item > .panel-body > h2 {
  font-size: 1.625em;
  margin-top: 0;
}

.inventory-item h4 {
  font-size: 1.5em;
  margin-top: 0;
}

.inventory-item h5 {
  font-size: 1.5em;
}

.inventory-item {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075)
}

.inventory-item .panel-sizes {
  max-height: 240px;
  overflow: auto;
}

.inventory-item .panel-sizes.disabled, .panel-sizes.disabled input {
  color: #555;
  background-color: #eee;
}

.inventory-item .panel-sizes input, .inventory-item .one_size_quantity {
  width: 5em;
  float: right;
}

.inventory-item .col-variety .form-one_size {
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.inventory-item .inventory-file {
  white-space: nowrap;
}

.inventory-item .inventory-file:last-child {
  margin-bottom: 0;
}

.inventory-item .inventory-file audio {
  margin-bottom: 10px;
  width: 100%;
}

.inventory-item .inventory-file .close {
  margin-bottom: 10px;
}

.inventory-item .inventory-file .file {
  display: inline;
}

.inventory-item .inventory-file-image {
  padding: 0;
}

.inventory-item .inventory-file-image img {
  display: block;
  width: 100%;
}

.inventory-item .inventory-file-image span.current-file {
  margin: 6px -12px 6px 12px;
}

.inventory-item .inventory-file-image .file {
  margin: 6px 0 6px 12px;
}

.inventory-add-item > h4,
.inventory-add-item > div {
  margin-bottom: 10px;
  display: block;
}

.inventory-add-item > div > .glyphicon {
  font-size: 34px;
  vertical-align: middle;
  margin-right: 10px;
}

.inventory-add-item > div > select {
  display: inline-block;
  width: auto;
}

.optional-field {
  font-weight: normal;
}

.well-form-control {
  margin-bottom: 15px;
  padding: 6px 12px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, #f8f8f8 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-image:         linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff8f8f8', GradientType=0);
  background-repeat: repeat-x;
  border-color: #ccc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.well-info {
  background-color: #d9edf7;
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #d9edf7 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #d9edf7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#d9edf7));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #d9edf7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1e6ef', endColorstr='#ffd9edf7', GradientType=0);
  background-repeat: repeat-x;
  border-color: #d1e6ef;
  -webkit-box-shadow: none;
          box-shadow: none;
}

</style>
